/* Add styles here */
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');
@import './mouseaura.css';
@import './container.css';
@import './header.css';
@import './content.css';

* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

body{
    background-color: oklch(20.8% 0.042 265.755);
    position: relative;
    line-height: 1.625;
    color: oklch(70.4% 0.04 256.788);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::selection {
    background-color: #2dd4bf; /* Warna teal-300 */
    color: #1e40af; /* Warna teal-900 */
}

a {
    color: inherit;
}

a:link{
    text-decoration: none;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.scroll-smooth{
    scroll-behavior: smooth;
}